@import '~sanitize.css/sanitize';


* {
  font-family: "Noto Sans", sans;
  font-weight: 400;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: unset;
  min-width: unset;

  outline: none;

  transition: color 0.25s ease;
  transition: background-color 0.25s ease;

  &:hover { background-color: #7E57C2; cursor: pointer; }
  &:active { background-color: #9575CD; }
  &.is-selected { background-color: #9575CD; }
}
