@import 'modules/splash';
@import 'modules/color-picker';
@import 'modules/controls';
@import 'modules/modals';


canvas#canvas {
  position: absolute;
  top: 0px;
  left: 0px;

  background-color: #fff;
  cursor: none;
}
