@keyframes fade-in {
  from { opacity: 0; visibility: hidden; }
  to { opacity: 1; visibility: visible; }
}

@keyframes fade-out {
  from { opacity: 1; visibility: visible; }
  to { opacity: 0; visibility: hidden; }
}


div#color-picker {
  &.is-visible {
    animation-name: fade-in;
    animation-duration: 0.25s;
    animation-fill-mode: both;
    animation-timing-function: ease;
  }

  &.is-hidden {
    display: inherit;
    animation-name: fade-out;
    animation-duration: 0.25s;
    animation-fill-mode: both;
    animation-timing-function: ease;
  }
}
