div.modal-container {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 500;
  pointer-events: none;

  position: absolute;
  bottom: 48px;

  width: 100vw;
  height: calc(100vh - 48px);

  @media (max-width: 512px) {
    height: 100vh;
    bottom: 0px;
  }

  div.modal {
    display: flex;
    flex-direction: column;
    pointer-events: auto;

    width: 512px;
    max-height: calc(90vh - 32px - 32px);

    background-color: #EEEEEE;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);

    visibility: hidden;
    transition: transform 0.5s ease, visibility 0.5s;
    transform: translate(0, 100vh);

    @media (max-width: 512px) {
      width: 100vw;
      max-width: none;
      height: 100vh;
      max-height: unset;
    }

    div.modal-header {
      display: flex;
      flex-direction: row;

      width: 100%;
      padding: 24px 32px;
      z-index: 10;

      background-color: #5E35B1;
      color: white;
      box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.25);

      line-height: 1;

      h1 { flex-grow: 1; }
      button.modal-close {
        font-size: 24px;
        margin: 0px;
        padding: 0px;

        &:hover { background-color: transparent }
        &:active { background-color: transparent }
      }
    }

    div.modal-body {
      padding: 32px;
      overflow-y: auto;

      @media (max-width: 512px) {
        height: 100vh;
      }

      .modal-card {
        padding: 32px;
        margin-bottom: 32px;

        background-color: white;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

        &:last-child {
          margin-bottom: 0px;
        }
      }

      table {
        width: 100%;
        caption {
          display: block;
          text-align: left;
          padding: 16px 32px;
          font-size: 24px;

          h2 { display: block; }
        }

        td { padding: 16px 32px; }
        tr {
          border: 1px solid #E0E0E0;
          &:last-child { border-bottom: none; }
        }
      }

      form {
        label {
          display: block;
          color: #757575;

          &.with-accent {
            color: #5E35B1;
          }

          &.for-checkbox {
            margin: 8px 0px;
          }
        }

        input[type='text'] {
          color: black;
          width: 100%;
          display: block;
          border-bottom: 2px solid #E0E0E0;
          padding: 4px 0px;
          outline: none;

          transition:
            color 0.25s ease,
            border-color 0.25s ease;

          &:focus {
            border-color: #5E35B1;
          }
        }

        input[type='checkbox'] {
          display: none;
          margin: 8px 0px;

          & + span {
            display: inline-block;
            width: 24px;
            height: 24px;
            margin: auto;
            margin-right: 8px;

            position: relative;
            top: 5px;

            border: 2px solid #E0E0E0;
            border-radius: 4px;
            background-color: white;

            transition:
              background-color 0.25s ease,
              border-color 0.25s ease;

            &:after {
              color: transparent;
              position: absolute;
              content: 'check';
              font-family: 'Material Icons';
              font-size: 20px;
              line-height: 1;

              transition:
                color 0.25s ease;
            }
          }

          &:checked + span {
            border-color: #5E35B1;
            background-color: #5E35B1;

            &:after {
              color: white;
            }
          }
        }
      }
    }

    h1 { font-size: 24px; }
    h2 { font-size: 24px; margin-bottom: 0.5em; }
    p {
      margin: 1em 0px;
      &:last-child { margin-bottom: 0px; }
    }

    &.is-visible {
      transform: translate(0, 0);
      visibility: visible;
    }
  }
}
