@keyframes fade-in-out {
  0% { opacity: 0; visibility: visible; }
  20% { opacity: 1; }
  80% { opacity: 1; }
  100% { opacity: 0; visibility: hidden; }
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

div.splash {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 100;

  background-color: white;
  text-align: center;

  animation-name: fade-out;
  animation-delay: 2.5s;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-timing-function: ease;

  & > * {
    animation-name: fade-in-out;
    animation-delay: 0.5s;
    animation-duration: 2s;
    animation-fill-mode: both;
    animation-timing-function: ease;
  }

  h1,
  h2, {
    font-family: "Crafty Girls", sans;
  }

  h1 { font-size: 96px; color: #5E35B1; }
  h2 { font-size: 48px; color: #757575; }
  div.spinner {
    margin-top: 24px;
    span {
    font-size: 72px; color: #5E35B1;
    animation: spin 2s linear 0s infinite;
    }
  }
}
